
<app-block [MyImage]="'../assets/notebooks.png'" [MyName]="'Ноутбуки'"></app-block>

<app-block [MyImage]="'../assets/pcs.png'" [MyName]="'Компьютеры'"></app-block>

<app-block [MyImage]="'../assets/monitors.png'" [MyName]="'Мониторы'"></app-block>

<app-block [MyImage]="'../assets/gaming.png'" [MyName]="'Gaming'"></app-block>

<app-block [MyImage]="'../assets/ipads.png'" [MyName]="'Планшеты'"></app-block>

<app-block [MyImage]="'../assets/usb.png'" [MyName]="'Кабели и переходники'"></app-block>



<app-block2 [MyImage]="'../assets/technic.png'" 
[MyName]="'Компьютерные комплектующие'" 
[link1]="'SSD'"
[link2]="'Системы охлаждения'"
[link3]="'Оперативная память'"
[link4]="'Процессоры'"
[link5]="'Материнские платы'"
[link6]="'Жесткие диски и дисковые массивы'"
[link7]="'Блоки питания'">
</app-block2>



<app-block2 [MyImage]="'../assets/wifi.png'" 
[MyName]="'Сетевое оборудование'" 
[link1]="'Маршрутизаторы'" 
[link2]="'Коммутаторы'"
[link3]="'Сетевые адаптеры'"
[link4]="'Пассивное сетевое оборудование'"
[link5]="'Беспроводные точки доступа'"
[link6]="'Ретрансляторы Wi-Fi'"
[link7]="'Патч-корды'">
</app-block2>


<app-block2 [MyImage]="'../assets/airpods.png'" 
[MyName]="'Наушники и аксессуары'" 
[link1]="'Наушники'"
[link2]="'TWS'"
[link3]="'Игровые гарнитуры'"
[link4]="'Вакуумные наушники'"
[link5]="'Наушники вкладыши'"
[link6]="'Накладные наушники'"
[link7]="'Полноразмерные наушники'"
[link8]="'Усилители для наушников'"
[link9]="'Аксессуары для наушников'">
</app-block2>


<app-block2 [MyImage]="'../assets/mouses.png'" 
[MyName]="'Клавиатуры и мыши'" 
[link1]="'Компьютерные мыши'"
[link2]="'Игровые поверхности'"
[link3]="'Клавиатуры'"
[link4]="'Комплект: клавиатура и мышь'"
[link5]="'Аксессуары для клавиатур и мышек'">
</app-block2>


<app-block2 [MyImage]="'../assets/accessories.png'" 
[MyName]="'Аксессуары для электроники'" 
[link1]="'Флеш память USB'"
[link2]="'Хабы и кардридеры'"
[link3]="'Аксессуары для ПК и ноутбуков'"
[link4]="'Комплектующие для ноутбуков'"
[link5]="'Сетевые фильтры, адаптеры и удлинители'"
[link6]="'Чехлы для планшетов'"
[link7]="'Сумки, рюкзаки и чехлы для ноутбуков'"
[link8]="'Чистящие средства'">
</app-block2>


<app-block2 [MyImage]="'../assets/printers.png'" 
[MyName]="'Оргтехника'" 
[link1]="'МФУ/Принтеры'"
[link2]="'Сканеры'"
[link3]="'Расходные материалы для принтеров'"
[link4]="'Доски, флипчарты'">
</app-block2>
